@media (max-width: 768px) {
  body {
    background-attachment: scroll;
  }
}

/* PREVENT OVERFLOW */
html, body {
  overflow-x: hidden;
}


/* RESPONSIVE Pets */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 10px;
    }

    .sobre-mi {
        flex-direction: column;
        text-align: center;
    }

.mascotas-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

